body {
  background-color: green;
  /*border-style: solid;*/
  /*border-color: black;
  border-width: 2px;*/
}

#solitaire-header {
  background-color: #09218D;
  background-image: url("../img/solitaire-bar.jpeg");
  height: 34px;
  width: 100%;
  background-repeat: no-repeat;
  border-style: solid black;
  border-bottom-width: 2px;
}
.dropdown{
  background-color: white;
  border-style: solid black;
  border-bottom-width: 200px;
}

.timer {
  background-color: white;
  text-align: right;
  height: 30px;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-style: solid black;
  border-top-width: 2px;
}

.timer > * {
  margin-right: 10px;
}

.card {
 width: 100px;
 height: 150px;
}

#hidecard {
  display: none;
}

#hideplaycard {
  display: none;
}

#deck {
  background-image: url("../img/end-of-deck.jpeg");
  float: left;
  margin-right: 25px;
  margin-left: 50px;
  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
}

#deck img {
  margin-left: -25px;
}

#pile .card {
  position: absolute;
}

.foundation-row {
  background-color: green;
  height: 100px;
  width: 150px;
  margin-right: 100px;
  float: right;
}

#fRow1{
  background-image: url("../img/foundation-square.jpeg");
  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
}

#fRow2{
  background-image: url("../img/foundation-square.jpeg");
  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
}
#fRow3{
  background-image: url("../img/foundation-square.jpeg");
  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
}
#fRow4{
  background-image: url("../img/foundation-square.jpeg");
  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
}

.foundation-row .card:nth-child(n+2) {
  margin-top: 0px;
  margin-left: -15px;
}
.foundation-row .card:nth-child(n+3) {
  margin-top: -175px;
}
.foundation-row .card:nth-child(n+4) {
  margin-top: -215px;
}
.foundation-row .card:nth-child(n+5) {
  margin-top: -255px;
}
.foundation-row .card:nth-child(n+6) {
  margin-top: -295px;
}
.foundation-row .card:nth-child(n+7) {
  margin-top: -335px;
}
.foundation-row .card:nth-child(n+8) {
  margin-top: -375px;
}
.foundation-row .card:nth-child(n+9) {
  margin-top: -415px;
}
.foundation-row .card:nth-child(n+10) {
  margin-top: -455px;
}
.foundation-row .card:nth-child(n+11) {
  margin-top: -495px;
}
.foundation-row .card:nth-child(n+12) {
  margin-top: -535px;
}
.foundation-row .card:nth-child(n+13) {
  margin-top: -575px;
}



.play-row {
  margin: 100px 20px 10px 30px;
  float: left;
  background-image: url("../img/foundation-square.jpeg");
  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
}


.play-row .card:first-child {
  background-color: black;

}

.play-row .card:nth-child(n+2){
  /*background-color: green;*/
  margin-left: -15px;
  margin-bottom: -125px;
}

.play-row .card:nth-child(n+3){
  /*background-color: black;*/
  margin-left: -15px;
  margin-bottom: -125px;
}

.play-row .card:nth-child(n+4){
  margin-left: -15px;
  margin-bottom: -125px;
}

.play-row .card:nth-child(n+5){
  margin-left: -15px;
  margin-bottom: -125px;
}
.play-row .card:nth-child(n+6){
  margin-left: -15px;
  margin-bottom: -125px;
}
.play-row .card:nth-child(n+7){
  margin-left: -15px;
  margin-bottom: -125px;
}
.play-row .card:nth-child(n+8){
  margin-left: -15px;
  margin-bottom: -125px;
}
.play-row .card:nth-child(n+9){
  margin-left: -15px;
  margin-bottom: -125px;
}
.play-row .card:nth-child(n+10){
  margin-left: -15px;
  margin-bottom: -125px;
}
.play-row .card:nth-child(n+11){
  margin-left: -15px;
  margin-bottom: -125px;
}
.play-row .card:nth-child(n+12){
  margin-left: -15px;
  margin-bottom: -125px;
}
.play-row .card:nth-child(n+13){
  margin-left: -15px;
  margin-bottom: -125px;
}
.play-row .card:nth-child(n+14){
  margin-left: -15px;
  margin-bottom: -125px;
}
.play-row .card:nth-child(n+15){
  margin-left: -15px;
  margin-bottom: -125px;
}
.play-row .card:nth-child(n+16){
  margin-left: -15px;
  margin-bottom: -125px;
}
.play-row .card:nth-child(n+17){
  margin-left: -15px;
  margin-bottom: -125px;
}
.play-row .card:nth-child(n+18){
  margin-left: -15px;
  margin-bottom: -125px;
}
.play-row .card:nth-child(n+19){
  margin-left: -15px;
  margin-bottom: -125px;
}
