body {
  background-color: green;
  /*border-style: solid;*/
  /*border-color: black;
  border-width: 2px;*/
}

#solitaire-header {
  background-color: #09218D;
  background-image: url("../img/solitaire-bar.jpeg");
  height: 34px;
  width: 100%;
  background-repeat: no-repeat;
  border-style: solid black;
  border-bottom-width: 2px;
}
.dropdown{
  background-color: white;
  border-style: solid black;
  border-bottom-width: 200px;
}

.timer {
  background-color: white;
  text-align: right;
  height: 30px;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-style: solid black;
  border-top-width: 2px;
}

.timer > * {
  margin-right: 10px;
}

.card {
 width: 100px;
 height: 150px;
}

#hidecard {
  display: none;
}

#deck {
  background-image: url("../img/end-of-deck.jpeg");
  float: left;
  margin-right: 25px;
  margin-left: 50px;
  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
}

#pile .card {
  position: absolute;
}

.foundation-row {
  background-color: green;
  height: 100px;
  width: 150px;
  margin-right: 100px;
  float: right;
}

#fRow1{
  background-image: url("../img/foundation-square.jpeg");
  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
}

#fRow2{
  background-image: url("../img/foundation-square.jpeg");
  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
}
#fRow3{
  background-image: url("../img/foundation-square.jpeg");
  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
}
#fRow4{
  background-image: url("../img/foundation-square.jpeg");
  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
}

.foundation-row .card:nth-child(n+2) {
  margin-top: -175px;
}
.foundation-row .card:nth-child(n+3) {
  margin-top: -215px;
}
.foundation-row .card:nth-child(n+4) {
  margin-top: -255px;
}
.foundation-row .card:nth-child(n+5) {
  margin-top: -290px;
}
.foundation-row .card:nth-child(n+6) {
  margin-top: -325px;
}
.foundation-row .card:nth-child(n+7) {
  margin-top: -360px;
}
.foundation-row .card:nth-child(n+8) {
  margin-top: -395px;
}
.foundation-row .card:nth-child(n+9) {
  margin-top: -430px;
}
.foundation-row .card:nth-child(n+10) {
  margin-top: -465px;
}
.foundation-row .card:nth-child(n+11) {
  margin-top: -500px;
}
.foundation-row .card:nth-child(n+12) {
  margin-top: -535px;
}
.foundation-row .card:nth-child(n+13) {
  margin-top: -570px;
}

.col-md-1.5 {
  background-color: green;
  float: right;
}

.play-row {
  margin: 100px 10px 50px 50px;
  float: left;
  background-image: url("../img/foundation-square.jpeg");
  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
}

.play-row .card:first-child {
  background-color: black;
}

.play-row .card:nth-child(n+2){
  /*background-color: green;*/
  margin-left: -100px;
  margin-bottom: -35px;
}

.play-row .card:nth-child(n+3){
  /*background-color: black;*/
  margin-left: -100px;
  margin-bottom: -70px;
}

.play-row .card:nth-child(n+4){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -105px;
}

.play-row .card:nth-child(n+5){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -140px;
}
.play-row .card:nth-child(n+6){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -175px;
}
.play-row .card:nth-child(n+7){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -205px;
}
.play-row .card:nth-child(n+8){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -240px;
}
.play-row .card:nth-child(n+9){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -275px;
}
.play-row .card:nth-child(n+10){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -310px;
}
.play-row .card:nth-child(n+11){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -345px;
}
.play-row .card:nth-child(n+12){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -380px;
}
.play-row .card:nth-child(n+13){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -415px;
}
.play-row .card:nth-child(n+14){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -450px;
}
.play-row .card:nth-child(n+15){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -485px;
}
.play-row .card:nth-child(n+16){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -525px;
}
.play-row .card:nth-child(n+17){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -560px;
}
.play-row .card:nth-child(n+18){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -595px;
}
.play-row .card:nth-child(n+19){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -630px;
}
