
body {
  background-color: green;
  /*border-style: solid;*/
  /*border-color: black;
  border-width: 2px;*/
}

#solitaire-header {
  background-color: #09218D;
  background-image: url("../img/random-images/solitaire-bar.jpeg");
  height: 34px;
  width: 100%;
  background-repeat: no-repeat;
  border-style: solid black;
  border-bottom-width: 2px;
}
.dropdown{
  background-color: white;
  border-style: solid black;
  border-bottom-width: 200px;
}

#player{
  background-image: url("../img/random-images/foundation-square.jpeg");
  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
}

#fRow1{
  background-image: url("../img/random-images/foundation-square.jpeg");
  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
}

#fRow2{
  background-image: url("../img/random-images/foundation-square.jpeg");
  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
}
#fRow3{
  background-image: url("../img/random-images/foundation-square.jpeg");
  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
}
#fRow4{
  background-image: url("../img/random-images/foundation-square.jpeg");
  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
}
.timer {
  background-color: white;
  text-align: right;
  height: 30px;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-style: solid black;
  border-top-width: 2px;
}

.timer > * {
  margin-right: 10px;
}

.card {
 width: 100px; height: 150px;
 /*border: 2px solid #333;
 -moz-border-radius: 8px;
 -webkit-border-radius: 8px;
 -khtml-border-radius: 8px;
 border-radius: 8px;
 padding: 2px;*/
 /*text-align: center; font-size: 200%;*/
 /*position: static;*/
}

#deck {
  background-image: url("../img/random-images/end-of-deck.jpeg");
  float: left;
  margin-right: 25px;
  margin-left: 50px;
  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
}

#pile .card {
  position: absolute;
}

.foundation-row {
  background-color: green;
  height: 100px;
  width: 150px;
  margin-right: 90px;
  float: right;
}

.col-md-1.5 {
  background-color: green;
  float: right;
}

.play-row {
  margin: 50px 10px 50px 50px;
  float: left;
}

.play-row .card:first-child {
  background-color: black;
}

.play-row .card:nth-child(n+2){
  /*background-color: green;*/
  margin-left: -100px;
  margin-bottom: -20px;
}

.play-row .card:nth-child(n+3){
  /*background-color: black;*/
  margin-left: -100px;
  margin-bottom: -40px;
}

.play-row .card:nth-child(n+4){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -60px;
}

.play-row .card:nth-child(n+5){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -80px;
}
.play-row .card:nth-child(n+6){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -100px;
}
.play-row .card:nth-child(n+7){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -120px;
}
.play-row .card:nth-child(n+8){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -140px;
}
.play-row .card:nth-child(n+9){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -160px;
}
.play-row .card:nth-child(n+10){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -180px;
}
.play-row .card:nth-child(n+11){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -200px;
}
.play-row .card:nth-child(n+12){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -220px;
}
.play-row .card:nth-child(n+13){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -240px;
}
.play-row .card:nth-child(n+14){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -260px;
}
.play-row .card:nth-child(n+15){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -280px;
}
.play-row .card:nth-child(n+16){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -300px;
}
.play-row .card:nth-child(n+17){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -320px;
}
.play-row .card:nth-child(n+18){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -340px;
}
.play-row .card:nth-child(n+19){
  background-color: black;
  margin-left: -100px;
  margin-bottom: -360px;
}
